#include "resource.h"
#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
// Dialogs

/////////////////////////////////////////////////////////////////////////////
// Main Dialog
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_VIEW_AMPTUBE DIALOGEX 0, 0, 215, 120
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_TABSTOP
	| WS_CLIPSIBLINGS | WS_CLIPCHILDREN
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	CONTROL "Search:", IDC_STATIC, "Static",
	WS_VISIBLE | SS_RIGHT,
	0, 2, 30, 11

	CONTROL "", IDC_SEARCH, "Edit",
	WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL,
	35, 1, 104, 11

	CONTROL "Clear Search", IDC_CLEAR, "Button",
	WS_VISIBLE | WS_TABSTOP | BS_OWNERDRAW,
	0, 1, 71, 11

	CONTROL "Play", IDC_PLAY_OPTIONS, "Button",
	WS_VISIBLE | WS_TABSTOP | BS_OWNERDRAW,
	1, 0, 60, 11

	CONTROL "<<", IDC_PREV_RESULTS, "Button",
	WS_VISIBLE | WS_TABSTOP | BS_OWNERDRAW,
	64, 0, 20, 11

	CONTROL ">>", IDC_NEXT_RESULTS, "Button",
	WS_VISIBLE | WS_TABSTOP | BS_OWNERDRAW,
	87, 0, 20, 11
END

/////////////////////////////////////////////////////////////////////////////
//Config Dialog
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_CONFIG_AMPTUBE DIALOGEX 0, 0, 180, 75
STYLE DS_SETFONT | WS_POPUPWINDOW | WS_CAPTION | WS_CLIPCHILDREN | WS_VISIBLE
CAPTION "AmpTube Plugin Configuration"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	CONTROL "Cache Path:", IDC_STATIC, "Static",
		SS_LEFT,
		5, 5, 50, 11
	CONTROL "", IDC_CACHE_PATH, "Edit",
		WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL,
		5, 16, 150, 13
	CONTROL "...", IDC_BROWSE_PATH, "Button",
		WS_TABSTOP,
		155, 16, 20, 13
	CONTROL "Clear Cache", IDC_CLEAR_CACHE, "Button",
		WS_TABSTOP,
		5, 34, 60, 13
	CONTROL "OK", IDOK, "Button",
		WS_TABSTOP,
		70, 57, 50, 13
	CONTROL "Cancel", IDCANCEL, "Button",
		WS_TABSTOP,
		125, 57, 50, 13
END

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
IDS_SEARCH					L"Search:"
IDS_PLAY					L"Play"
IDS_CLEAR_SEARCH			L"Clear Search"
IDS_FORMAT_EXTRACT_ERROR	L"An error occured during retrieval of the available video formats: "
END

STRINGTABLE
LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
IDS_SEARCH					L"Suche:"
IDS_PLAY					L"Abspielen"
IDS_CLEAR_SEARCH			L"Suche löschen"
IDS_FORMAT_EXTRACT_ERROR	L"Während der Abfrage der verfügbaren Videoformate ist ein Fehler aufgetreten: "
END